<ion-header>
  <ion-toolbar>
    <ion-title>その他</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Setting
    </ion-list-header>

    <ion-item>
      <ion-label>
        ダークテーマ
      </ion-label>
      <ion-toggle [(ngModel)]="dark" (ionChange)="changeTheme()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>@ionic/angular</ion-label>
      <ion-note mode="md" slot="end">4.12.0-dev.201910151255.dd0d993</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
