.scroll {
  background: #ededed;
}

.speaker-card {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .speaker-card {
    height: 100%;
  }
}


.speaker-card ion-card-header {
  padding: 0;
}

.speaker-card ion-card-header .item {
  padding: 4px 16px;
}

.speaker-card ion-card-content {
  flex: 1 1 auto;
  padding: 0;
}
