<ion-app [class.dark-theme]="dark">
  <ion-split-pane content-id="main-content">
    <ion-menu contentId="main-content">
      <ion-header class="header-no-border">
        <ion-toolbar mode="md" class="ion-padding">
          <ion-title class="logo-area"
            ><img src="../assets/img/logo.svg" alt="logo" style="max-height: 140px;"
          /></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-list-header>
            Navigate
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="active" routerDirection="root" lines="none">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
