.active {
  color: var(--ion-color-primary);
  ion-icon {
    color: var(--ion-color-primary);
  }
}

ion-header.header-no-border {
  &.header-md:after {
    background-image: none;
  }

  ion-toolbar {
    --border-color: transparent;
    --border-style: none;
  }
}

.logo-area {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  --padding: 16px;
}

