@media screen and (min-width: 992px) {
  ion-tab-bar {
    display: none;
  }
}

.dark-theme ion-header.header-collapse-condense-inactive ion-toolbar {
  background-color: var(--ion-toolbar-background);
}

ion-content {
  --padding-bottom: 32px;
}

*:focus {
  outline: none;
}

p.content {
  font-size: 1.1rem;
  line-height: 1.8rem;
  white-space: pre-wrap;
  color: var(--ion-color-dark-tint);
  margin: 16px auto;
  max-width: 720px;
}

$categories: (
  type-a: #f29a8b,
  type-b: #64b297,
  type-c: #56b6db,
  type-d: #8D6E63,
);

@each $track, $value in map-remove($categories) {
  ion-chip.#{$track} {
    background-color: $value;
    color: #ffffff;
    font-weight: bold;
  }
}
