<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="session">
    <ion-list>
      <ion-item lines="none" style="padding-top: 8px">
        <ion-chip [class]="session.tracks[0] | lowercase" slot="start">
          <ion-icon name="pin" color="white"></ion-icon>
          <ion-label>{{session.location}}</ion-label>
        </ion-chip>
        <ion-chip color="primary">
          <ion-icon name="clock" color="primary"></ion-icon>
          <ion-label>{{session.timeStart}} &ndash; {{session.timeEnd}}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item class="ion-padding-top ion-text-center" lines="none">
        <ion-label class="ion-wrap ion-text-wrap"><h1>{{session.name}}</h1></ion-label>
      </ion-item>
      <ion-item lines="none">
        <p class="content">{{session.description}}</p>
      </ion-item>
      <ion-item-divider>
        <ion-label>スピーカー</ion-label>
      </ion-item-divider>
      <ion-item
        style="--padding-top: 8px; --padding-bottom: 8px;"
        button="true"
        lines="none"
        *ngFor="let speaker of session.speakers; let i = index;"
      >
        <ion-avatar slot="start">
          <img [src]="'assets/img/speakers/' + speaker.image" [alt]="speaker.name + ' profile picture'" />
        </ion-avatar>
        <ion-label>{{speaker.name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
